body{
    font-family: Arial, Helvetica, sans-serif;
    
}

p{
    font-size:1rem;
}

h1{
font-size: 3rem;
text-align: center;
}

h3{
font-size: 2rem;
}

h4{
    font-size: 1.75rem;
}

.navbar{
    font-size: 1rem;
    background-color: rgba(245, 245, 245, 0.75);
   
    padding: 0.25rem;
    --bs-navbar-toggler-border-color: none;
    --bs-navbar-toggler-border-radius: none;
    --bs-navbar-toggler-focus-width: none;
    height: auto;
}


.navbar-brand {
    font-size: 1rem;
    padding-top: 0.25rem; 
    padding-bottom: 0.25rem; 
} 
  .navbar-toggler-icon {
    font-size: 1rem; 
   
  }
  .offcanvas{
    --bs-offcanvas-title-line-height: 1rem;
  }

  .offcanvas-body{
    font-size: 1rem;
  }
  
  
  .offcanvas-header {
    padding: 0.2rem 1rem; 
  }
  
  .offcanvas-title {
    font-size: 1rem; 
  }

  .main-container{
    display: flex;  
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%; 
  }

  .color-image{
    display: flex;
    width: 50%;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-left: 0;
    

  }

  

  .title-container{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
    
  }

  .title-container2{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-top: 7%;
    margin-left: 5%;
   
    
  }
  .quote{
    text-transform: uppercase;
    width: 25%;
    margin: 2%;
    margin-top: 10%;
  }

  .about-me{
    width: 55%;
    margin-left: 10%;
    margin-right: 5%;
    margin-top: 7%;
  }

  .skills{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    margin: 3%;
    justify-content: center;
    align-items: center;
  }

  .skills-container{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;

  }

  .progress{
    --bs-progress-height: 1.5rem;
  }

  .progress-bar{
    background-color: turquoise;
    color: #333333;
    font-size: 0.75rem;
    text-align: start;
    padding-left: 2rem ;
    
  }

  .develop-skills{
    width: 100%;
    padding: 2%;

  }

  #design-bar{
    background-color: orange;
  }

  .row{
    display: flex;  
    flex-wrap: wrap;
    justify-content: center;
    margin: 1%;
  }

  .softskills{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .projects{
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
       
  }

  .cards-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .projects{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

.cards-container{
    margin-top: 2%;
}

.card-img-top{
    padding: 10%;
    width: 90%; 
    height: 150px; 
    object-fit: cover;
}

.card{
    text-decoration: none;
}

.card :hover{
    text-decoration: none;
    background-color: #e9ecef;
}

a{
    text-decoration: none;
    color: black
}

.card-header {
  background-color: white;
}

.nav{
  --bs-nav-link-color:none;
}

.github-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #333;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
}

.github-logo {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  vertical-align: middle;
}

.contact-container{
  display: flex;
  flex-direction: row;
  width: 90%;
  margin: 5%;
  gap: 7%;
  justify-content: center;
}

.logo-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: center;
  
}



@media (max-width: 767px) {
    .title-container {
        width: 100%;
    }
}




  
  